@import "variables";
@import "normalize";
@import "base";

// common

.wrap {
  width: 1194px;
  margin: 0 auto;
}

.scroll-y {
  overflow-x: hidden;
  overflow-y: auto;
  @include scrollBar;
}

.ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
}

.hide {
  display: none;
}


.hr {
  display: block;
  height: 1px;
  margin: 10px 0;
  background-color: $colorGrayVd;
  overflow: hidden;
}

.item-middle {
  display: inline-block;
  vertical-align: middle;
}

// position

.position-rel {
  position: relative;
}

.position-abs {
  position: absolute;
}

.position-abs-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// border

.border-t {
  border-top: $border;
}

.border-r {
  border-right: $border;
}

.border-b {
  border-bottom: $border;
}

.border-l {
  border-left: $border;
}

.border {
  border: $border;
}

.border-0 {
  border: none;
}

// align

.text-align-l {
  text-align: left;
}

.text-align-c {
  text-align: center;
}

.text-align-r {
  text-align: right;
}

.vertical-align-t {
  vertical-align: top;
}

.vertical-align-m {
  vertical-align: middle;
}

.vertical-align-b {
  vertical-align: bottom;
}

// line-height

.line-height-18 {
  line-height: 18px;
}

.line-height-32 {
  line-height: 32px;
}

.line-height-1 {
  line-height: 1;
}

.line-height-2 {
  line-height: 2;
}

// color

.color-blue {
  color: $colorBlue;
}

.color-green {
  color: $colorGreen;
}

.color-yellow {
  color: $colorYellow;
}

.color-orange {
  color: $colorOrange;
}

.color-red {
  color: $colorRed;
}

.color-gray-v3 {
  color: $colorGrayV3;
}

.color-gray-v6 {
  color: $colorGrayV6;
}

.color-gray-v9 {
  color: $colorGrayV9;
}

.color-gray-vc {
  color: $colorGrayVc;
}

// font

.font-st {
  font-family: \5b8b\4f53;
}

.font-yahei {
  font-family: "Microsoft YaHei";
}

.font-12 {
  font-size: 14px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-20 {
  font-size: 20px;
}

// margin

.margin-x-3 {
  margin: 0 3px;
}

.margin-x-5 {
  margin: 0 5px;
}

.margin-x-10 {
  margin: 0 10px;
}

.margin-x-15 {
  margin: 0 20px;
}

.margin-x-20 {
  margin: 0 20px;
}

.margin-y-3 {
  margin: 3px 0;
}

.margin-y-5 {
  margin: 5px 0;
}

.margin-y-10 {
  margin: 10px 0;
}

.margin-y-15 {
  margin: 15px 0;
}

.margin-y-20 {
  margin: 20px 0;
}

.margin-t-3 {
  margin-top: 3px;
}

.margin-t-5 {
  margin-top: 5px;
}

.margin-t-10 {
  margin-top: 10px;
}

.margin-t-15 {
  margin-top: 15px;
}

.margin-t-20 {
  margin-top: 20px;
}

.margin-r-3 {
  margin-right: 3px;
}

.margin-r-5 {
  margin-right: 5px;
}

.margin-r-10 {
  margin-right: 10px;
}

.margin-r-15 {
  margin-right: 15px;
}

.margin-r-20 {
  margin-right: 20px;
}

.margin-b-3 {
  margin-bottom: 3px;
}

.margin-b-5 {
  margin-bottom: 5px;
}

.margin-b-10 {
  margin-bottom: 10px;
}

.margin-b-15 {
  margin-bottom: 15px;
}

.margin-b-20 {
  margin-bottom: 20px;
}

.margin-l-3 {
  margin-left: 3px;
}

.margin-l-5 {
  margin-left: 5px;
}

.margin-l-10 {
  margin-left: 10px;
}

.margin-l-15 {
  margin-left: 15px;
}

.margin-l-20 {
  margin-left: 20px;
}

.margin-0 {
  margin: 0;
}

.margin-x-auto {
  margin: 0 auto;
}

// padding

.padding-x-3 {
  padding: 0 3px;
}

.padding-x-5 {
  padding: 0 5px;
}

.padding-x-10 {
  padding: 0 10px;
}

.padding-x-15 {
  padding: 0 20px;
}

.padding-x-20 {
  padding: 0 20px;
}

.padding-y-3 {
  padding: 3px 0;
}

.padding-y-5 {
  padding: 5px 0;
}

.padding-y-10 {
  padding: 10px 0;
}

.padding-y-15 {
  padding: 15px 0;
}

.padding-y-20 {
  padding: 20px 0;
}

.padding-t-3 {
  padding-top: 3px;
}

.padding-t-5 {
  padding-top: 5px;
}

.padding-t-10 {
  padding-top: 10px;
}

.padding-t-15 {
  padding-top: 15px;
}

.padding-t-20 {
  padding-top: 20px;
}

.padding-r-3 {
  padding-right: 3px;
}

.padding-r-5 {
  padding-right: 5px;
}

.padding-r-10 {
  padding-right: 10px;
}

.padding-r-15 {
  padding-right: 15px;
}

.padding-r-20 {
  padding-right: 20px;
}

.padding-b-3 {
  padding-bottom: 3px;
}

.padding-b-5 {
  padding-bottom: 5px;
}

.padding-b-10 {
  padding-bottom: 10px;
}

.padding-b-15 {
  padding-bottom: 15px;
}

.padding-b-20 {
  padding-bottom: 20px;
}

.padding-l-3 {
  padding-left: 3px;
}

.padding-l-5 {
  padding-left: 5px;
}

.padding-l-10 {
  padding-left: 10px;
}

.padding-l-15 {
  padding-left: 15px;
}

.padding-l-20 {
  padding-left: 20px;
}

.padding-0 {
  padding: 0;
}