$colorWhite: #fff;
$colorBlue: #09f;
$colorGreen: #42b983;
$colorYellow: #efb90f;
$colorOrange: #ed6c00;
$colorRed: #ff5231;
$colorGrayV3: #333;
$colorGrayV6: #666;
$colorGrayV9: #999;
$colorGrayVa: #aaa;
$colorGrayVb: #bbb;
$colorGrayVc: #ccc;
$colorGrayVd: #ddd;
$colorGrayVe: #eee;
$colorGrayVf8: #f8f8f8;
$colorGrayVfa: #fafafa;

$border: 1px solid #ddd;

@mixin scrollBar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    overflow: hidden;
    background: $colorGrayVe;
  }
  &::-webkit-scrollbar-thumb {
    background: $colorGrayVc;
  }
}

@mixin border-radius-2 {
  border-radius: 2px;
}

@mixin border-radius-full {
  border-radius: 100%;
}

@mixin item-middle {
  display: inline-block;
  vertical-align: middle;
}